.circle-checkbox > .box {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-pref-width: 24;
    -fx-pref-height: 24;
}

.circle-checkbox:selected > .box > .mark {
    -fx-shape: "M 3 3 L 21 21 M 21 3 L 3 21";
    -fx-background-color: black;
}